.nav-button {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 55px;
    cursor: pointer;
    height: 55px;
    transition: 0.2s
}

.nav-button:hover {
    background-color: lightgray;
}

.home-button {
    float: left;
    height: 55px;
    margin-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.home-button:hover {
    background-color: lightgray;
}

