.nav-button {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    height: 55px;
    transition: 0.2s;
}

.nav-button:hover {
    background-color: lightgray;
}

.home-button {
    height: 55px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.home-button:hover {
    background-color: lightgray;
}
