.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 120%;
    border: 1px solid black;
    padding: 0px 5px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    background: linear-gradient(180deg, white 70%, rgb(234, 234, 234) 100%);
    user-select: none;
}

.admin {
    background: rgb(235, 255, 255);
    background: linear-gradient(
        170deg,
        rgba(213, 255, 255, 1) 40%,
        rgba(184, 241, 252, 1) 100%
    );
}
