.register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.register-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.register-form button {
    border: 1px solid #2397F4;
    border-radius: 100px;
    padding: 10px 20px;
    transition: 0.2s
}

.register-form button:hover {
    background-color: #c3e4ff;
}

.register-errors {
    text-align: center;
    color: red;
    font-weight: bold;
}
